@page
@model RazorWeb.Pages.SellerPage.SellerManageBooksDetailModel
@{
}

<div class="container mx-auto">
    <div class="categoryText">
        <a style="color: black" asp-page="/SellerPage/SellerManageBooks">Category </a> >
        <a style="color: #17A2B8" asp-page="/SellerPage/SellerManageBooks" asp-route-SelectedCategory="@Model.Book.Category_Id"> @Model.Book.Category_Name</a>
    </div>
    <div class="mt-4 itemList row">

        @* //carousel *@
        <div id="carouselSellerManageBooksDetail" class=" border col-lg-3 carousel slide" data-ride="carousel">

            @* //indicators *@
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Book.Image_URL.Count; i++)
                {
                    //if i == 0 add active to class
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img style="object-fit: contain" src="@Model.Book.Image_URL[i]" class="w-100 rounded"/><br/>
                    </div>
                }
            </div>

            @* //control carousel *@
            <a class="carousel-control-prev" href="#carouselSellerManageBooksDetail" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselSellerManageBooksDetail" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="item col-lg-5">
            <strong class="name">@Model.Book.Book_Title</strong>
            <p class="price">
            <span>@Model.Book.Book_Price</span>
            <small style="text-decoration:underline">đ</small>
            <p><br/>

            <p class="author">Author: <u>@Model.Book.Book_Author</u></p>
            <p class="yearPublic">Year Of Public: @Model.Book.Book_Year_Public</p>

            <form class="" method="POST" onsubmit="return submitForm();">
                <p class="quantity">
                    <span>Quantity: </span>
                    <div class="border d-inline-block">
                        <button class="btn btn-sm btn-outline-secondary" onclick="decrementQuantity()" type="button">-</button>
                        <input name="cartQuantity" class="ml-1 text-center h-100 bg-transparent border-0" style="width: 30px;" readonly id="quantityValue" value="1" />
                        <button class="btn btn-sm btn-outline-secondary" onclick="incrementQuantity()" type="button">+</button>
                    </div>
                    <span class="quantity opacity-50">Quantity in stock: <span id="quantityInStock">@Model.Book.Book_Quantity</span></span>
                </p>
                <input value="@Model.Book.Book_Id" name="bookId" hidden />
                <button class="inventory btn btn-info" data-toggle="modal" type="submit">
                    Add Cart
                </button>
            </form>

        </div>
    </div>
    <div class="boxDescription">
        <div class="description">
            <strong>Information Detail</strong>
            <p class="text">@Model.Book.Book_Description</p>
        </div>
    </div>
    @* <%-- End Show Item Book--%> *@
    @* <%--Form Add Cart--%> *@
</div>

<script>
    // Function to increment the quantity
    var quantityInStock = parseInt(document.getElementById('quantityInStock').innerText);

    function incrementQuantity() {
        var quantityInput = document.getElementById('quantityValue');
        var currentQuantity = parseInt(quantityInput.value);

        if (currentQuantity < quantityInStock) {
            quantityInput.value = currentQuantity + 1;
        }
    }

    // Function to decrement the quantity
    function decrementQuantity() {
        var quantityInput = document.getElementById('quantityValue');
        var currentQuantity = parseInt(quantityInput.value);

        if (currentQuantity > 1) {
            quantityInput.value = currentQuantity - 1;
        }
    }

    // Function to handle form submission
    function submitForm() {
        // Disable the "Add Cart" button to prevent double submission
        var addButton = document.querySelector('.inventory');
        addButton.disabled = true;
        return true; // Allow form submission to proceed
    }
</script>