@page
@model RazorWeb.Pages.InventoryPage.HistoryInventoryModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    int courter = 1;
    Layout = "_Layout";
}





<section class="home-section">
    <div>
        <h1 style="text-align:center;">LIST HISTORY OF BOOK INVENTORY</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>.NO</th>
                <th>Image</th>
                <th>Name Book</th>
                <th>Quantity</th>
                <th>Reason</th>
                <th>Inventory Date</th>
                <th>Employee Implement</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var b in @Model.InventoryDTOs)
            {
                <tr>
                    <td>
                        @(courter++)
                    </td>
                    <td>
                        <div>
                            <img style="width:70px;height:80px;" src="@b.Image_URL" />
                        </div>

                    </td>
                    <td>
                        <p>@b.Book_Title</p>
                    </td>
                    <td>
                        <p>@b.Inventory_Quantity</p>
                    </td>
                    <td>
                        <p>@b.Inventory_Note</p>
                    </td>
                    <td>
                        <p>@b.Inventory_Date_Into</p>
                    </td>
                    <td>
                        <p>@b.User_Name</p>
                    </td>
                    <td>
                        <p>@b.Is_Inventory_Status</p>
                    </td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="id" value="@b.Inventory_Id">
                            <button type='submit' value="id"><i class='bx bx-log-out'></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
<script src="~/js/script.js"></script>

