@page
@model RazorWeb.Pages.AdminPage.AdminCreateNewEmployeeModel
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <title>Create New Employee</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/signUpForm.css">
    
</head>
<body>
    @if (ViewData["Message"] != null)
    {
        <div class="message-box">
            <span class="message-text">@ViewData["Message"]</span>
            <span class="close-button" onclick="this.parentNode.style.display = 'none';">&times;</span>
        </div>
    }
    <!-- partial:index.partial.html -->
    <section class='login centered-element' id='login'>
        <div class='head'>
            <h1 class='company'>Phuong Nam Book Store</h1>
        </div>
        <p class='msg'>Welcome to Create Account</p>
        <div class='form' >
            <form  method="POST">
                <input type="text" placeholder='Account' class='text' asp-for="@Model.User.User_Account" required minlength="4" maxlength="25"><br>
                @if (!Model.IsAccount)
                {
                    <span class='text' style="color: red">@Model.User.User_Account did exists</span>
                }
                <input type="password" placeholder='Password' asp-for="@Model.User.User_Password" class='password' required minlength="5" maxlength="20"><br>
                
                <input type="text" placeholder='Name' asp-for="@Model.User.User_Name" class='text' required minlength="3" maxlength="30"><br>
                <input type="text" placeholder='Phone' asp-for="@Model.User.User_Phone" class='text' id='phone'><br>
                
                <input type="text" placeholder='Address' asp-for="@Model.User.User_Address" class='text' id='address' minlength="4" maxlength="30" required><br>
                <input type="text" placeholder='Email' asp-for="@Model.User.User_Email" class='text' id='address' minlength="4" maxlength="30" required><br>
                <table border="0">
                    <tbody class="text">
                        <tr>
                            <td>Gender</td>
                            <td><input type="radio" asp-for="@Model.User.Is_User_Gender" class="radio" value="Male" checked="checked"> Male</td>
                            <td><input type="radio" asp-for="@Model.User.Is_User_Gender" class="radio" value="Female"> Female</td>
                            <td><input type="radio" asp-for="@Model.User.Is_User_Gender" class="radio" value="Other"> Other</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td><input type="radio" asp-for="@Model.User.Role_Id" class="radio" value="3" checked="checked"> Seller<br /></td>
                            <td><input type="radio" asp-for="@Model.User.Role_Id" class="radio" value="2"> Staff<br /></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="wrapper-button">
                    <a href="./adminShowListEmployees" class='btn-login'>Back Manage Employees</a>
                    <button type="submit" class='btn-signup' > Create Account</button>
                </div>
            </form>

        </div>
    </section>
    <!-- partial -->
    <script src="~/js/LoginForm.js"></script>
</body>