@page
@model RazorWeb.Pages.AdminPage.AdminRequestImPortBookModel
@{
}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Request Import Book</title>
    @* Modal*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <!-- BoxIcon CDN Link -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
              integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <!-- link file CSS -->
        <link rel="stylesheet" href="~/css/adminRequestImportBook.css">
        <style>
        .modal {
            margin-top: 50px;
            height: 700px !important;
        }

        .modal-header {
            width: 100%;
            padding: 0;
            background-color: #fab804ea;
        }

        .modal-body {
            background-color: #247774;
            text-align: center;
        }

        .modal-header ul {
            width: 100%;
            margin-top: 15px;
        }

        .switch {
            display: flex !important;
            justify-content: space-around;
        }

        .nav-link.active {
            background-color: #247774 !important;
            color: whitesmoke !important;
        }

        .btnCreate{
            margin-left:0px;
        }

        .btnCallCreate{
            font-size: 20px;
            background-color: #fab804ea;
            border-radius: 5px;
            border-color: whitesmoke;
        }
        .th{
            width:50px !important
            height:30px;
        }
        </style>
    </head>

    <body>

    @if (Model.m_Message == 1)
    {
        <div id="success-notification" class="notification success">
            <span class="close" onclick="closeNotification()">&times;</span>
            <p style="color:white">Create Request success!</p>
        </div>
    }
    @if (Model.m_Message == 0)
    {
        <div id="success-notification" class="notification fail">
            <span class="close" onclick="closeNotification()">&times;</span>
            <p style="color:white">Create Request Fail!</p>
        </div>
    }
    @*Form Create Request*@
        <!-- home content -->
        <div class="home-section">
            <!-- home-content -->
            <div class="home-content">
                <div class="overview-tableBookRequest">
                    <div class="wraper_addBookingRequest_nameTable">
                    <button type="button"  class="btnCallCreate" data-toggle="modal" data-target="#myModal">
                        <i class="fa-solid fa-plus"></i> Add book request
                    </button>
                    </div>
                    <hr style="width: 25.7rem;"/>
                    <h2 id="nameTable">LIST OF BOOK REQUEST</h2>
                    <div class="tableBookRequest">
                       
                            <table class="table">
                                <thead style="padding-top: 12px;
                                       padding-bottom: 12px;
                                       text-align: center;
                                       background-color: #1d727e;
                                       color: white;
                                       font-size: 1.5rem;">
                                       <tr>
                                        <th >ID</th>
                                        <th class="th">Image</th>
                                        <th class="th">Name</th>
                                         <th class="th">Quantity</th>
                                        <th >Price</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Date Complete</th>
                                        <th>Note</th>
                                        <th>Status</th>
                                        <th>Status_Book</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 15px">
                            @{
                                var count = 1;
                            }
                            @foreach (var r in Model.requestDTOs)
                                @if (@r.Is_Request_Status > 0)
                                {
                                    <form method="post">
                                    <tr>
                                        <input type="hidden" asp-for="@Model.request.Request_Id" value="@r.Request_Id" />
                                        <input type="hidden" asp-for="@Model.request.Request_Image_Url" value="@r.Request_Image_Url" />
                                        <td>
                                            <p>@count</p>
                                            @{
                                                count++;
                                            }
                                        </td>
                                        <td>
                                            <img style="height: 100px;width: 100px" src="@r.Request_Image_Url" alt="..."
                                            id="imageBookRequest">
                                        </td>
                                        <td>
                                            <input asp-for="@Model.request.Request_Book_Name" value="@r.Request_Book_Name" />
                                        </td>
                                        <td >
                                            <input asp-for="@Model.request.Request_Quantity" style="width:100px;margin-left:25px" value="@r.Request_Quantity" />
                                        </td>
                                        <td>
                                            <input asp-for="@Model.request.Request_Price" style="width:90px;margin-left:20px" value="@r.Request_Price" />
                                            <small style="text-decoration:underline">đ</small>
                                        </td>
                                        <td>
                                            <input asp-for="@Model.request.Request_Amount" style="width:100px;margin-left:25px" value="@r.Request_Amount" />
                                            <small style="text-decoration:underline">đ</small>
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="@Model.request.Request_Date"  value="@r.Request_Date" />
                                            <input value="@r.Request_Date.ToString("yyyy-MM-dd")" style="width:100px;margin-left:25px" asp-format="{0:yyyy-MM-dd}" readonly />
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="@Model.request.Request_Date_Done"  value="@r.Request_Date_Done" />
                                             @if (r.Is_Request_Status == 2) {
                                                <input value="@r.Request_Date_Done.ToString("yyyy-MM-dd")"  asp-format="{0:yyyy-MM-dd}" readonly />
                                             }else{
                                                 <p></p>
                                             }
                                        </td>
                                        <td>
                                            <input asp-for="@Model.request.Request_Note" value="@r.Request_Note" />
                                        </td>
                                        <td id="statusProcess">

                                            @if (r.Is_Request_Status == 1) {
                                                <span style="color: #fab804ea">Proceeding</span>
                                            }
                                            @if (r.Is_Request_Status == 2) {
                                                <span style="color: #1ace1a">Done</span>
                                            }
                                           @if (r.Is_Request_Status == 3) {
                                                <span style="color: red;">Un Done</span>
                                           }
                                        </td>
                                        <td>
                                            <select class="textInforEmployee" style="margin-left:25px;" asp-for=@Model.request.Is_RequestBook_Status>
                                                @if (r.Is_RequestBook_Status == true)
                                                {
                                                    <option style="color: green" value="true">New</option>
                                                    <option style="color: red" value="false">Old</option>
                                                }
                                                else
                                                {
                                                    <option style="color: red" value="false">Old</option>
                                                    <option style="color: green" value="true">New</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <button type="submit" class="btnUpdate" data-toggle="modal"
                                            data-target="#myModalUpdate${loop.index}">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </form>
                                }
                             }
                        </tbody>
                            </table>
                           
                        <c:if test="${empty listBookingRequest}">
                            <h2 style="text-align: center;
                                align-items: center;
                                color: red">
                                CAN NOT FIND THIS RECORD !       
                            </h2>
                        </c:if>
                    </div>
                </div>
            </div>
        </div>
    @*Form Create Request*@
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <ul class="switch nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li>
                            <a class="nav-link active" id="pills-project-tab" data-toggle="pill" href="#newBook"
                               role="tab" aria-controls="pills-project" aria-selected="true" style="color:azure">Add New Book</a>
                        </li>
                        <li>
                            <a class="nav-link" id="pills-illustration-tab" data-toggle="pill" href="#oldBook"
                               role="tab" aria-controls="pills-illustration" aria-selected="false" style="color:azure">
                                Add Existing Book
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="newBook" role="tabpanel"
                             aria-labelledby="pills-project-tab">
                            <div>
                                <h2 style="color:azure">Create Booking Request</h2><br>
                                    <form method="post">
                                <input type="text" placeholder="Image url" asp-for="@Model.request.Request_Image_Url" style="margin-bottom:10px;"><br>
                                <input type="text" placeholder="Book's name" asp-for="@Model.request.Request_Book_Name" style="margin-bottom:10px;"><br>
                                <input type="number" placeholder="Quantity" asp-for="@Model.request.Request_Quantity" style="margin-bottom:10px;"><br>
                                <input type="number" placeholder="Price" asp-for="@Model.request.Request_Price" style="margin-bottom:10px;"><br>
                                <select class="form-select" asp-for="@Model.request.Category_Id" style="width:205.33px; height: 27.56px; font-size:15px;margin:0 0 0 136px;">
                                    @foreach (var i in Model.listCate)
                                    {
                                        <option value="@i.Category_Id">@i.Category_Name</option>
                                    }
                                </select><br>
                                <input type="text" placeholder="Note" asp-for="@Model.request.Request_Note" style="margin-bottom:10px;">
                                <div class="btnCreate">
                                        <input type="hidden" asp-for="@Model.is_Book_Create" value="true"/>
                                        <input type="hidden" asp-for="@Model.request.Is_RequestBook_Status" value="true" />
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:20px;margin-right:5px;">Cancel</button>
                                        <button onclick="oldBookRequest()" class="btn btn-primary" type="submit" style="font-size:20px;;margin-right:5px;">Create</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="oldBook" role="tabpanel"
                             aria-labelledby="pills-illustration-tab">
                            <h2 style="color:azure">Create Booking Request</h2><br>
                                <form method="post">
                            <select class="form-select" asp-for="@Model.request.Book_Id" style="width:205.33px; height: 27.56px; font-size:15px;margin:0 0 0 136px;">
                            @foreach (var i in Model.books)
                            {
                                <option value="@i.Book_Id">@i.Book_Title</option>
                            }
                        </select><br>
                            <input type="number" placeholder="Quantity" asp-for="@Model.request.Request_Quantity" style="margin-bottom:10px;"><br>
                            <input type="text" placeholder="Note" asp-for="@Model.request.Request_Note" style="margin-bottom:10px;">
                            <div class="btnCreate">
                                    <input type="hidden" asp-for="@Model.is_Book_Create" value="false" />
                                    <input type="hidden" asp-for="@Model.request.Is_RequestBook_Status" value="false" />
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:20px;;margin-right:5px;">Cancel</button>
                                    <button onclick="oldBookRequest()" class="btn btn-primary" type="submit" style="font-size:20px;;margin-right:5px;">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <script src="~/js/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    </body>