@page "/bookDetail"
@model RazorWeb.Pages.AdminPage.AdminManageBooksDetailModel
@using BookStoreAPI.Core.DTO;


@if (Model.m_Message == 1)
{
    <div id="success-notification" class="notification success">
        <span class="close" onclick="closeNotification()">&times;</span>
        <p style="color:white">Update book success!</p>
    </div>
}
@if (Model.m_Message == 0)
{
    <div id="success-notification" class="notification fail">
        <span class="close" onclick="closeNotification()">&times;</span>
        <p style="color:white">Update book fail!</p>
    </div>
}
@if (Model.m_Message == 2)
{
    <div id="success-notification" class="notification fail">
        <span class="close" onclick="closeNotification()">&times;</span>
        <p style="color:white">Update book fail!</p>
    </div>
}
@if (Model.m_Message == 3)
{
    <div id="success-notification" class="notification fail">
        <span class="close" onclick="closeNotification()">&times;</span>
        <p style="color:white">Create Inventory fail !! </p>
    </div>
}
<!-- home content -->
<section class="home-section">

    <!-- home-content -->
    <div class="categoryText">
        <a style="color: black" asp-page="/AdminPage/AdminManageBook">Category </a> >
        <a style="color: #17A2B8" asp-page="/AdminPage/AdminManageCategoryBook" asp-route-idc="@Model.bookDetail.Category_Id"> @Model.bookDetail.Category_Name</a>
    </div>
    <button class="Check"><i class="fa-regular fa-circle-check"></i></button>
    @*<%--  Button Update--%>*@
    <button class="btnUpdate" data-bs-toggle="modal" data-bs-target="#myModal">
        <i class="fa-solid fa-pen-to-square"></i>
    </button>
    @*<%--  Item Book Need Show--%>*@
    <div class="itemList row">
        <div class="border" style="width:420px;height:375px;">
            <img src="@Model.bookDetail.Image_URL.First()" class="rounded" /><br />
        </div>
        <div class="item col-lg-5">
            <strong class="name">@Model.bookDetail.Book_Title</strong>
            <p class="price">
            <p style="font-size:25px;">@Model.bookDetail.Book_Price <small style="text-decoration:underline">đ</small></p>
           
            <p><br />
            <p class="quantity">Quantity: @Model.bookDetail.Book_Quantity</p>
            <p class="author">Author: <u>@Model.bookDetail.Book_Author</u></p>
            <p class="yearPublic">Year Of Public: @Model.bookDetail.Book_Year_Public</p>
            <button class="btn btn-danger" style="font-size:20px;" data-bs-toggle="modal" data-bs-target="#inventoryModal">
                Inventory
            </button>
        </div>

    </div>
    @*<%--   Show Description Book   --%>*@
    <div class="boxDescription">
        <div class="description">
            <strong>Information Detail</strong>
            <p class="text">@Model.bookDetail.Book_Description</p>
        </div>
    </div>
    @*<%-- End Show Item Book--%>*@


    @*<%--Form Update Book--%>*@
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: -70px;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="margin-left:130px;font-size:28px; color:orange; font-weight:500">UPDATE BOOK</h5>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <input type="hidden" asp-for="@Model.bookDetail.Book_Id" />
                        <input type="hidden" asp-for="@Model.bookDetail.Image_URL" value="@Model.bookDetail.Image_URL.First()" />
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="title" class="form-label">Title:</label>
                                <input type="text" class="form-control" id="title" asp-for="@Model.bookDetail.Book_Title" style="font-size:15px;">
                                <span asp-validation-for="bookDetail.Book_Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="author" class="form-label">Author:</label>
                                <input type="text" class="form-control" id="author" asp-for="@Model.bookDetail.Book_Author" style="font-size:15px;">
                                <span asp-validation-for="bookDetail.Book_Author" class="text-danger"></span>
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="quantity" class="form-label">Quantity:</label>
                                <input type="number" class="form-control" id="quantity" asp-for="@Model.bookDetail.Book_Quantity" style="font-size:15px;">
                                <span asp-validation-for="bookDetail.Book_Quantity" class="text-danger"></span>
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="price" class="form-label">Price:</label>
                                <input type="number" class="form-control" id="price" asp-for="@Model.bookDetail.Book_Price" style="font-size:15px;">
                                <span asp-validation-for="bookDetail.Book_Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="yearOfPublic" class="form-label">Year Of Public:</label>
                                <input type="number" class="form-control" asp-for="@Model.bookDetail.Book_Year_Public" style="font-size:15px;">
                                <span asp-validation-for="bookDetail.Book_Year_Public" class="text-danger"></span>
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label class="form-label">Description:</label>
                                <input type="text" class="form-control" asp-for="@Model.bookDetail.Book_Description" style="font-size:15px;">
                                <span asp-validation-for="bookDetail.Book_Description" class="text-danger"></span>
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="category" class="form-label">Category:</label>
                                <select class="form-select" id="category" asp-for="@Model.bookDetail.Category_Id">
                                    <option value="@Model.bookDetail.Category_Id">@Model.bookDetail.Category_Name</option>
                                    @foreach (var i in Model.listCate)
                                    {
                                        <option value="@i.Category_Id">@i.Category_Name</option>
                                    }
                                </select>
                                <span asp-validation-for="bookDetail.Category_Id" class="text-danger"></span>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size:15px;">Close</button>
                        <button type="submit" class="btn btn-primary" style="font-size:15px;">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*<%--End Form Update Book--%>*@

    @*<%--Form Add Inventory Book--%>*@
    <div class="modal fade" id="inventoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: -70px;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="margin-left:130px;font-size:28px; color:orange; font-weight:500">Create Inventory</h5>
                </div>
                <form method="post" asp-page-handler="addinventory">
                    <div class="modal-body">
                        <input type="hidden" asp-for="@Model.Inventorydto.Book_Id" value="@Model.bookDetail.Book_Id" />
                        
                        <div class="mb-3">
                            <label for="title" class="form-label">Reason</label>
                            <input type="text" class="form-control" id="Reason" asp-for="@Model.Inventorydto.Inventory_Note" style="font-size:15px;">
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Quantity</label>
                            <input type="text" class="form-control" id="quantity" asp-for="@Model.Inventorydto.Inventory_Quantity" style="font-size:15px;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size:15px;">Close</button>
                        <button type="submit" class="btn btn-primary" style="font-size:15px;">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*<%--End Form Update Book--%>*@
</section>
