@page
@model RazorWeb.Pages.AdminPage.AdminRequestImPortBookModel
@{
}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Request Import Book</title>

        <!-- BoxIcon CDN Link -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
              integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <!-- link file CSS -->
        <link rel="stylesheet" href="~/css/adminRequestImportBook.css">
    </head>

    <body>
        @*Form Create Request*@
    <button id="registerBtn">Register</button>

    <div id="registerModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Register</h2>

            <div id="addNewBookModal" class="sub-modal">
                <h3>Add new Book</h3>
                <form>
                    <label for="newBookImageUrl">Image URL:</label>
                    <input type="text" id="newBookImageUrl" name="newBookImageUrl">

                    <label for="newBookName">Book Name:</label>
                    <input type="text" id="newBookName" name="newBookName">

                    <label for="newBookQuantity">Quantity:</label>
                    <input type="number" id="newBookQuantity" name="newBookQuantity">

                    <label for="newBookNote">Note:</label>
                    <textarea id="newBookNote" name="newBookNote"></textarea>

                    <label for="newBookCategory">Select Category:</label>
                    <select id="newBookCategory" name="newBookCategory">
                        <option value="category1">Category 1</option>
                        <option value="category2">Category 2</option>
                        <option value="category3">Category 3</option>
                    </select>
                </form>
            </div>

            <div id="addOldBookModal" class="sub-modal">
                <h3>Add old Book</h3>
                <form>
                    <label for="oldBookName">Book Name:</label>
                    <input type="text" id="oldBookName" name="oldBookName">

                    <label for="oldBookQuantity">Quantity:</label>
                    <input type="number" id="oldBookQuantity" name="oldBookQuantity">

                    <label for="oldBookNote">Note:</label>
                    <textarea id="oldBookNote" name="oldBookNote"></textarea>
                </form>
            </div>

            <div class="button-container">
                <button id="createBtn">Create</button>
                <button id="cancelBtn">Cancel</button>
            </div>
        </div>
    </div>
    @*Form Create Request*@
        <!-- home content -->
        <div class="home-section">
            <!-- home-content -->
            <div class="home-content">
                <div class="overview-tableBookRequest">
                    <div class="wraper_addBookingRequest_nameTable">
                        <a href="./adminCreateBookRequestPage" class="addBookingRequest">
                            <i class='bx bx-add-to-queue'></i>
                            <span class="links_name">Add Book Request</span>
                        </a>
                    </div>
                    <hr style="width: 25.7rem;"/>
                    <h2 id="nameTable">LIST OF BOOK REQUEST</h2>
                    <div class="tableBookRequest">
                            <table class="table">
                                <thead style="padding-top: 12px;
                                       padding-bottom: 12px;
                                       text-align: center;
                                       background-color: #1d727e;
                                       color: white;
                                       font-size: 1.5rem;">
                                    <tr>
                                        <th>ID</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                <th>Amount</th>
                                        <th>Date</th>
                                        <th>Date Complete</th>
                                        <th>Note</th>
                                        <th>Status</th>
                                        <th>Status_Book</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 15px">
                            @{
                                var count = 1;
                            }
                            @foreach (var r in Model.requestDTOs)
                                @if (@r.Is_Request_Status > 0)
                                {
                                    <form method="post">
                                    <tr>
                                        <input type="hidden" asp-for="@Model.request.Request_Id" value="@r.Request_Id" />
                                        <input type="hidden" asp-for="@Model.request.Request_Image_Url" value="@r.Request_Image_Url" />
                                        <td>
                                            <p>@count</p>
                                            @{
                                                count++;
                                            }
                                        </td>
                                        <td>
                                            <img style="height: 100px;width: 100px" src="@r.Request_Image_Url" alt="..."
                                            id="imageBookRequest">
                                        </td>
                                        <td>
                                            <input asp-for="@Model.request.Request_Book_Name" value="@r.Request_Book_Name" />
                                        </td>
                                        <td>
                                            <input asp-for="@Model.request.Request_Quantity" value="@r.Request_Quantity" />
                                        </td>
                                        <td>
                                            <input asp-for="@Model.request.Request_Price" value="@r.Request_Price" />
                                            <small style="text-decoration:underline">đ</small>
                                        </td>
                                        <td>
                                            <input asp-for="@Model.request.Request_Amount" value="@r.Request_Amount" />
                                            <small style="text-decoration:underline">đ</small>
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="@Model.request.Request_Date" value="@r.Request_Date" />
                                            <input value="@r.Request_Date.ToString("yyyy-MM-dd")" asp-format="{0:yyyy-MM-dd}" readonly />
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="@Model.request.Request_Date_Done" value="@r.Request_Date_Done" />
                                             @if (r.Is_Request_Status == 2) {
                                            <input value="@r.Request_Date_Done.ToString("yyyy-MM-dd")"  asp-format="{0:yyyy-MM-dd}" readonly />
                                             }else{
                                                 <p>Request not completed</p>
                                             }
                                        </td>
                                        <td>
                                            <input asp-for="@Model.request.Request_Note" value="@r.Request_Note" />
                                        </td>
                                        <td id="statusProcess">

                                            @if (r.Is_Request_Status == 1) {
                                                <span style="color: #fab804ea">Proceeding</span>
                                            }
                                            @if (r.Is_Request_Status == 2) {
                                                <span style="color: #1ace1a">Done</span>
                                            }
                                           @if (r.Is_Request_Status == 3) {
                                                <span style="color: red;">Un Done</span>
                                           }
                                        </td>
                                        <td>
                                            <select class="textInforEmployee" asp-for=@Model.request.Is_RequestBook_Status>
                                                @if (r.Is_RequestBook_Status == true)
                                                {
                                                    <option style="color: green" value="true">New</option>
                                                    <option style="color: red" value="false">Old</option>
                                                }
                                                else
                                                {
                                                    <option style="color: red" value="false">Old</option>
                                                    <option style="color: green" value="true">New</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <button type="submit" class="btnUpdate" data-toggle="modal"
                                            data-target="#myModalUpdate${loop.index}">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </form>
                                }
                             }
                        </tbody>
                            </table>
                        </c:if>
                        <c:if test="${empty listBookingRequest}">
                            <h2 style="text-align: center;
                                align-items: center;
                                color: red">
                                CAN NOT FIND THIS RECORD !       
                            </h2>
                        </c:if>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/js/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    </body>