@page "/bookDetail"
@model RazorWeb.Pages.AdminPage.AdminManageBooksDetailModel
@using BookStoreAPI.Core.DTO;
@{
}
  <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Book Detail</title>
       @* Modal*@
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <!-- BoxIcon CDN Link -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
              integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <!-- link file CSS -->
    
        <link rel="stylesheet" href="~/css/staffBookManageDetail.css">
        <link rel="stylesheet" href="~/css/Message.css" />
    <script src="~/js/Message.js"></script>
    </head>

    <body>

    @if (Model.m_Message==1)
    {
        <div id="success-notification" class="notification success">
            <span class="close" onclick="closeNotification()">&times;</span>
            <p style="color:white">Update book success!</p>
        </div>
    }
    @if (Model.m_Message==0)
    {
        <div id="success-notification" class="notification fail">
            <span class="close" onclick="closeNotification()">&times;</span>
            <p style="color:white">Update book fail!</p>
        </div>
    }
    <!-- home content -->
    <section class="home-section">
      
        <!-- home-content -->
        <div class="categoryText">
            <a style="color: black" href="adminBookAction?action=bookPage1">Category </a> >
            <a style="color: #17A2B8" href="adminBookAction?action=${nameCategory}"> @Model.bookDetail.Category_Name</a>
        </div>
                <button class="Check"><i class="fa-regular fa-circle-check"></i></button>
                @*<%--  Button Update--%>*@
                <button class="btnUpdate" data-bs-toggle="modal" data-bs-target="#myModal">
                    <i class="fa-solid fa-pen-to-square"></i></button>
                @*<%--  Item Book Need Show--%>*@
                <div class="itemList row">
                    <div class="border" style="width:420px;height:375px;">
                        <img src="@Model.bookDetail.Image_URL.First()" class="rounded"/><br/>
                    </div>
                    <div class="item col-lg-5">
                        <strong class="name">@Model.bookDetail.Book_Title</strong>
                        <p class="price">
                                <p>@Model.bookDetail.Book_Price</p>
                            <small style="text-decoration:underline">đ</small>
                        <p><br/>
                        <p class="quantity">Quantity: @Model.bookDetail.Book_Quantity</p>
                        <p class="author">Author: <u>@Model.bookDetail.Book_Author</u></p>
                        <p class="yearPublic">Year Of Public: @Model.bookDetail.Book_Year_Public</p>
                    </div>

                </div>
                @*<%--   Show Description Book   --%>*@
                <div class="boxDescription">
                    <div class="description">
                        <strong>Information Detail</strong>
                        <p class="text">@Model.bookDetail.Book_Description</p>
                    </div>
                </div>
                @*<%-- End Show Item Book--%>*@

                @*<%--Form Update Book--%>*@
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: -70px;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="margin-left:130px;font-size:28px; color:orange; font-weight:500">UPDATE BOOK</h5>
                    </div>
                    <form method="post">
                    <div class="modal-body">
                            <input type="hidden" asp-for="@Model.bookDetail.Book_Id"/>
                            <input type="hidden" asp-for="@Model.bookDetail.Image_URL" value="@Model.bookDetail.Image_URL.First()" />
                            <div class="mb-3">
                                <label for="title" class="form-label">Title:</label>
                                <input type="text" class="form-control" id="title" asp-for="@Model.bookDetail.Book_Title" style="font-size:15px;">
                            </div>
                            <div class="mb-3">
                                <label for="author" class="form-label">Author:</label>
                                <input type="text" class="form-control" id="author" asp-for="@Model.bookDetail.Book_Author" style="font-size:15px;">
                            </div>
                            <div class="mb-3">
                                <label for="quantity" class="form-label">Quantity:</label>
                                <input type="number" class="form-control" id="quantity" asp-for="@Model.bookDetail.Book_Quantity" style="font-size:15px;">
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Price:</label>
                                <input type="number" class="form-control" id="price" asp-for="@Model.bookDetail.Book_Price" style="font-size:15px;">
                            </div>
                            <div class="mb-3">
                                <label for="yearOfPublic" class="form-label">Year Of Public:</label>
                                <input type="number" class="form-control" asp-for="@Model.bookDetail.Book_Year_Public" style="font-size:15px;">
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">Description:</label>
                                <input type="text" class="form-control"  asp-for="@Model.bookDetail.Book_Description" style="font-size:15px;">
                            </div>
                            <div class="mb-3">
                                <label for="category" class="form-label">Category:</label>
                                <select class="form-select" id="category" asp-for="@Model.bookDetail.Category_Id">
                                    <option value="@Model.bookDetail.Category_Id">@Model.bookDetail.Category_Name</option>
                                    @foreach(var i in Model.listCate)
                                    {
                                        <option value="@i.Category_Id">@i.Category_Name</option>
                                    }
                                </select>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size:15px;">Close</button>
                        <button type="submit" class="btn btn-primary" style="font-size:15px;">Update</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
                @*<%--End Form Update Book--%>*@
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
    </body>