@page
@model RazorWeb.Pages.StaffPage.StaffManageRequestModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Request</title>
     @* Modal*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <!-- BoxIcon CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <%-- Link Button CSS--%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- link file CSS -->
    <link rel="stylesheet" href="~/css/staffManageRequest.css">
    <style>
        .appearBook .item {
            margin-top: 15px;
        }

        .appearBook i {
            background-color: white;
            margin-left: 10px;
            height: 30px;
            width: 30px;
            font-size: 20px;
            padding-top: 5px;
        }

        .appearBook p {
            width: 100px;
            margin-bottom: 0;
            text-align: left;
            padding-left: 15px;
            background-color: white;
        }

        .appearBook input {
            width: 100px;
            outline: none;
            border: none;
            padding-left: 15px;
        }

        .modal {
            margin-top: 50px;
            height: 700px !important;
        }

        .modal-header {
            width: 100%;
            padding: 0;
            background-color: #fab804ea;
        }

        .modal-body {
            background-color: #247774;
            text-align: center;
        }

        .modal-header ul {
            width: 100%;
            margin-top: 15px;
        }

        .switch {
            display: flex !important;
            justify-content: space-around;
        }

        .nav-link.active {
            background-color: #247774 !important;
            color: whitesmoke !important;
        }

        .btnCreate {
            margin-left: 0px;
        }

        .btnCallCreate {
            font-size: 20px;
            background-color: #fab804ea;
            border-radius: 5px;
            border-color: whitesmoke;
        }

        .th {
            width: 110px !important height:30px;
        }
    </style>
</head>

<body>


<div class="wrapper-body">

    @if (Model.m_Message == 1)
    {
        <div id="success-notification" class="notification success">
            <span class="close" onclick="closeNotification()">&times;</span>
            <p style="color:white">Create Request success!</p>
        </div>
    }
    @if (Model.m_Message == 2)
    {
        <div id="success-notification" class="notification fail">
            <span class="close" onclick="closeNotification()">&times;</span>
            <p style="color:white">Create Request Fail!</p>
        </div>
    }

    <!-- home content -->
    <div class="home-section">
           
        <!-- home-content -->
        <div class="home-content">
                <div class="wraper_addBookingRequest_nameTable">
                    <button type="button" class="btnCallCreate" data-toggle="modal" data-target="#book" style="width:250px;">
                        <i class="fa-solid fa-plus"></i> Add book request
                    </button>
                </div>
               @* <hr style="width: 25.7rem;" />*@
            <div>
                <h2 id="nameTable">LIST OF BOOK REQUEST</h2>
            </div>
        </div>
        <table class="table">
                <thead class="thead-dark" style="font-size: 15px">
            <tr>
                                        <th >.No</th>
                                        <th >Image</th>
                                        <th >Name</th>
                                        <th >Quantity</th>
                                        <th >Price</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Date Complete</th>
                                        <th>Note</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
            </tr>
            
            </thead>
                <tbody style="font-size: 15px">
                    @{
                        var count = 1;
                        var number = 0;
                    }
                            @foreach (var r in Model.requestDTOs) {
                                @if (@r.Is_Request_Status > 0)
                                {
                            <tr>
                                
                                <td>
                                    <p>@count</p>
                                    @{
                                        count++;
                                        number++;
                                    }
                                </td>
                                <td>
                                    <img style="height: 100px;width: 100px" src="@r.Request_Image_Url" alt="..."
                                         id="imageBookRequest">
                                </td>
                                <td>
                                    <p>@r.Request_Book_Name</p>
                                </td>
                                <td>
                                    <p>@r.Request_Quantity</p>
                                </td>
                                <td>
                                    <p>@r.Request_Price</p>
                                    <small style="text-decoration:underline">đ</small>
                                </td>
                                <td>
                                    <p>@r.Request_Amount</p>
                                    <small style="text-decoration:underline">đ</small>
                                </td>
                                <td>
                                    <p asp-format="{0:yyyy-MM-dd}">@r.Request_Date.ToString("yyyy-MM-dd")</p>
                                </td>
                                <td>
                                                @if (r.Is_Request_Status == 2)
                                                {
                                        <p asp-format="{0:yyyy-MM-dd}">@r.Request_Date.ToString("yyyy-MM-dd")</p>
                                                }
                                                else
                                                {
                                        <p></p>
                                                }
                                </td>
                                <td>
                                    <p>@r.Request_Note</p>
                                </td>
                                <td id="statusProcess">

                                                @if (r.Is_Request_Status == 1)
                                                {
                                        <span style="color: #fab804ea">Proceeding</span>
                                                }
                                                @if (r.Is_Request_Status == 2)
                                                {
                                        <span style="color: #1ace1a">Done</span>
                                                }
                                                @if (r.Is_Request_Status == 3)
                                                {
                                        <span style="color: red;">Un Done</span>
                                                }
                                </td>
                                <td>
                                    @if(r.Is_RequestBook_Status == true)
                                    {
                                        <button type="button" style="outline:none;border:none" data-toggle="modal" data-target="#myModal" onclick="booking(`@r.Request_Id`)">
                                            <i class='bx bxs-plus-circle'></i>
                                        </button>
                                    }
                                </td>
                                <td>
                                    <!-- Button to trigger the modal -->
                                    @if (r.Is_Request_Status == 1 && r.Is_RequestBook_Status == false)
                                    {
                                        <button type="button"  data-toggle="modal" data-target="#Again" onclick="booking(`@r.Request_Id`)"
                                        style="outline:none;border:none">
                                            <i class="bx bxs-message-square-x"></i>
                                        </button>
                                    }
                                </td>
                            </tr>
                         }
                      

                       
                    }
                </tbody>
        </table>
       
    </div>
    </div>

    @*Again Request*@
    <div class="modal fade" id="Again" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color: #247774; text-align: center;">
                    <h3 style="margin-top: 20px; width: 100%; color:white; font-size:20px;">Reason Cancel Request</h3>
                </div>

                <!-- Modal body -->
                 <div class="modal-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="newBook" role="tabpanel"
                             aria-labelledby="pills-project-tab">
                                <form method="post">
                                    <input type="hidden" name="number" value="3" />
                                <input asp-for="@Model.request.Request_Id" id="request" type="hidden" />
                                    <textarea asp-for="@Model.request.Request_Note" rows="7" cols="56.5"></textarea>
                                    <div class="d-flex" style="margin-top: 30px; margin-left: 150px;">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:10px;margin-right:5px;">Cancel</button>
                                        <button type="submit" class="btn btn-primary" style="font-size:10px;margin-right:5px;">
                                           Cancel Request
                                        </button>
                                        </div>
                                </form>
                            </div>
                             </div>
                     </div>
                </div>

            </div>
        </div>
    @*Again Request*@
    @*Create Book*@
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color: #247774; text-align: center;">
                    <h3 style="margin-top: 20px; width: 100%; color:white; font-size:20px;">CREATE BOOK</h3>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="newBook" role="tabpanel"
                             aria-labelledby="pills-project-tab">

                            <div style="background-color: cornsilk">
                                <form method="post">
                                    <input type="hidden" name="number" value="2" />
                                    <div>
                                        <div class="appearBook">
                                            <input asp-for="@Model.bookDTO.Request_Id" id="requestBook" type="hidden" />
                                            <input asp-for="@Model.bookDTO.Image_URL"  id="url"type="hidden"/>
                                            <input asp-for="@Model.bookDTO.Category_Id" id="categoryId" type="hidden" />

                                            <div class="item d-flex" style="margin-bottom:10px; margin-left:10px;">
                                                <i class="fa-solid fa-book"></i>
                                                <input asp-for="@Model.bookDTO.Book_Title"  id="name" readonly/>
                                            </div>
                                            <div class="item d-flex" style="margin-bottom:10px;margin-left:10px;">
                                                <i class="fa-solid fa-user-tie"></i>
                                                <input asp-for="@Model.bookDTO.Book_Author" placeholder="Author" />

                                            </div>
                                            <div class="item d-flex" style="margin-bottom:10px;margin-left:10px;">
                                                <i class="fa-solid fa-list-ol"></i>
                                                <input asp-for="@Model.bookDTO.Book_Quantity"  id="quantity" readonly />
                                            </div>
                                            <div class="item d-flex" style="margin-bottom:10px;margin-left:10px;">
                                                <i class="fa-regular fa-money-bill-1"></i>
                                                <input asp-for="@Model.bookDTO.Book_Price" id="price" readonly />
                                            </div>

                                        </div>

                                        <div class="d-flex" style="margin-top: 30px; margin-left: 150px;">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:10px;;margin-right:5px;">Cancel</button>
                                            <button type="submit" class="btn btn-primary"
                                                    style="font-size:10px;;margin-right:5px;">
                                                Create Book
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*Create Book*@
    @*Form Create Request*@
    <div class="modal fade" id="book">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <ul class="switch nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li>
                            <a class="nav-link active" id="pills-project-tab" data-toggle="pill" href="#newBook"
                               role="tab" aria-controls="pills-project" aria-selected="true" style="color:azure">Add New Book</a>
                        </li>
                        <li>
                            <a class="nav-link" id="pills-illustration-tab" data-toggle="pill" href="#oldBook"
                               role="tab" aria-controls="pills-illustration" aria-selected="false" style="color:azure">
                                Add Existing Book
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="tab-content" id="pills-tabContent">
                        @* Create Book new*@
                        <div class="tab-pane fade show active" id="newBook" role="tabpanel"
                             aria-labelledby="pills-project-tab">
                            <div>
                                <h2 style="color:azure">Create Booking Request</h2><br>
                                <form method="post">
                                    <input type="hidden" name="number" value="1" />
                                    <input type="text" placeholder="Image url" asp-for="@Model.request.Request_Image_Url" style="margin-bottom:10px;"><br>
                                    <input type="text" placeholder="Book's name" asp-for="@Model.request.Request_Book_Name" style="margin-bottom:10px;"><br>
                                    <input type="number" placeholder="Quantity" asp-for="@Model.request.Request_Quantity" style="margin-bottom:10px;"><br>
                                    <input type="number" placeholder="Price" asp-for="@Model.request.Request_Price" style="margin-bottom:10px;"><br>
                                    <select class="form-select" asp-for="@Model.request.Category_Id" style="width:205.33px; height: 27.56px; font-size:15px;margin:0 0 0 136px;">
                                                                        @foreach (var i in Model.listCate)
                                                                        {
                                            <option value="@i.Category_Id">@i.Category_Name</option>
                                                                        }
                                    </select><br>
                                    <input type="text" placeholder="Note" asp-for="@Model.request.Request_Note" style="margin-bottom:10px;">
                                    <div class="btnCreate">
                                        <input type="hidden" asp-for="@Model.is_Book_Create" value="true" />
                                        <input type="hidden" asp-for="@Model.request.Is_RequestBook_Status" value="true" />
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:20px;margin-right:5px;">Cancel</button>
                                        <button onclick="oldBookRequest()" class="btn btn-primary" type="submit" style="font-size:20px;;margin-right:5px;">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    @* Create Book Old*@
                    <div class="tab-pane fade" id="oldBook" role="tabpanel"
                         aria-labelledby="pills-illustration-tab">
                        <h2 style="color:azure">Create Booking Request</h2><br>
                        <form method="post">
                            <input type="hidden" name="number" value="1" />
                            <select class="form-select" asp-for="@Model.request.Book_Id" style="width:205.33px; height: 27.56px; font-size:15px;margin:0 0 0 136px;">
                                @foreach (var i in Model.books)
                                {
                                    <option value="@i.Book_Id">@i.Book_Title</option>
                                }
                            </select><br>
                            <input type="number" placeholder="Quantity" asp-for="@Model.request.Request_Quantity" style="margin-bottom:10px;"><br>
                            <input type="text" placeholder="Note" asp-for="@Model.request.Request_Note" style="margin-bottom:10px;">
                            <div class="btnCreate">
                                <input type="hidden" asp-for="@Model.is_Book_Create" value="false" />
                                <input type="hidden" asp-for="@Model.request.Is_RequestBook_Status" value="false" />
                                <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:20px;;margin-right:5px;">Cancel</button>
                                <button onclick="oldBookRequest()" class="btn btn-primary" type="submit" style="font-size:20px;;margin-right:5px;">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Form Create Request*@


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="~/js/booking.js"></script>

</body>